{% extends "base.html" %}

{% block title %}Accept Invitation{% endblock %}

{% block content %}
    <div class="well col-md-6">
        <p>User {{ invitation.from_user }} invites you to a game.
            He/she included the following message:
        </p>

        <blockquote class="blockquote text-center">
            <p class="mb-0">{{ invitation.message }}</p>
            <footer class="blockquote-footer">{{ invitation.from_user }}</footer>
        </blockquote>

        <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-default" name="deny" value="no">Deny</button>
            <button type="submit" class="btn btn-primary" name="accept" value="ok">Accept</button>
        </form>
    </div>
{% endblock %}
